@import "bootstrap/functions";
@import "bootstrap/variables";

$grid-breakpoints: {
    xs: 0,
    sm: 400px,
    md: 768px,
    lg: 992px,
    xl: 1220px,
};

$container-max-widths: {
    sm: 400px,
    md: 768px,
    lg: 992px,
    xl: 1220px
};

@import "bootstrap";